<div id="floating-cta" class="floating-cta" role="complementary">
  <a 
    class="floating-cta__button" 
    aria-label="Hemen Başvur"
    id="cta-call-button"
    href="https://s1.livinsoft.com/student/pre-registration/form/konukevi-b-blok-basvuru/23c5871d-e762-4d0a-a78b-53ed18635a56"
    target="_blank"
    rel="noopener"
    onclick="return gtag_report_conversion(this.href);"
  >
    <span class="floating-cta__text">Hemen Başvur</span>
  </a>
</div>
