<div id="floating-cta" class="floating-cta" role="complementary">
  <a 
    class="floating-cta__button" 
    aria-label="Hemen Başvur"
    id="cta-call-button"
    href="https://google.com"
    target="_blank"
    rel="noopener"
  >
    <span class="floating-cta__text">Hemen Başvur</span>
  </a>
</div>
