<div id="preloader" class="preloader" role="status" aria-label="Sayfa yükleniyor">
  <div class="preloader__overlay"></div>
  <div class="preloader__content">
    <div class="preloader__logo">
      <span class="preloader__text">AKADEMİ SUİT</span>
    </div>
    <div class="preloader__loader">
      <div class="preloader__bar"></div>
    </div>
  </div>
</div>
